.socials{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    
}
.social{
    width: 100%;

    padding: 10px 0px;
    aspect-ratio: 5/1;
    display: flex;
    align-items: center;


    background: linear-gradient(to left,rgb(16, 107, 63),rgb(13, 151, 24),white);

    border: 2px solid black;
    border-radius: 30px;

    overflow: hidden;
}
.social img{
    width: 20%;
    margin: 0px 20px;
}